{% extends "base.html.twig" %}

{% block title %}
	Hôtel
{% endblock %}

{% block body %}
	<body class="bg-hotel text-dark">
		<div class="container">
		<h1 class="text-center my-4 text-uppercase border-bottom py-2" style="color:#B8860B">A propos de nous</h1>
			<div class="row mt-5 rounded">
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-6">
							<img src="{{ asset('assets/img/aboutushotel.jpg')}}" alt="" class="mx-2 mb-2 rounded-circle scale" style="object-fit:cover;">
							<img src="{{ asset('assets/img/aboutushotel2.jpg')}}" alt="" style="object-fit:cover;" class="mx-2 rounded-circle scale">
						</div>
						<div class="col-md-6">
							<img src="{{ asset('assets/img/aboutushotel3.jpg')}}" alt=""  style="object-fit:cover;" class="mb-2 rounded-circle scale">
							<img src="{{ asset('assets/img/aboutushotel4.jpg')}}" alt="" class="rounded-circle scale" style="object-fit:cover;">
						</div>
					</div>
				</div>

				<div class="col-md-7 d-flex justify-content-center align-items-center flex-column bg-light rounded p-5 hover-transparent">
					<h2 class="text-shadow mb-3" style="color:#B8860B">Qui sommes-nous</h2>
					<p class="text-shadow mt-3">Bienvenue chez HotelHouse, votre destination pour des séjours inoubliables. Depuis notre création, nous nous engageons à offrir à nos clients une expérience exceptionnelle dans l'industrie de l'hôtellerie.
						<br>

						Chez HotelHouse, nous sommes passionnés par l'hospitalité et nous nous efforçons de vous offrir un hébergement de qualité, un service personnalisé et des installations de premier ordre.
						<br>

						Notre équipe dévouée est là pour vous accueillir chaleureusement et veiller à ce que chaque détail de votre séjour soit pris en compte.
						<br>

						Des chambres élégantes, des restaurants raffinés, des espaces de réunion modernes et bien plus encore - tout est conçu pour vous offrir une expérience mémorable.
						<br>

						HotelHouse est là pour vous accueillir lors de votre prochain voyage et vous offrir des moments de détente et de plaisir.
						<br>

						Faites confiance à notre expertise et découvrez l'univers HotelHouse lors de votre prochaine escapade."
						<br>

						J'espère que cette version plus courte répond à vos attentes.
					</p>
				</div>
			</div>
			<div class="">
				<div class="row">
					<div class="col-md-7 d-flex justify-content-center align-items-center flex-column mt-5 mb-3 bg-light rounded p-5 hover-transparent">
						<h2 style="color:#B8860B" class="mb-3">Notre localisation :</h2>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.0447200220447!2d2.3440240926751192!3d48.87642402553321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e6b328ce1a1%3A0x713ae68f46c8435b!2sH%C3%B4tel%20Paris%20Lafayette!5e0!3m2!1sfr!2sfr!4v1687857420959!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						<p class="mt-4">L'accès à notre lieu est facile et pratique, que ce soit en voiture, en bus, en train ou même à pied. Nous sommes idéalement situés à proximité de différentes options de transport. Vous pouvez venir en voiture en utilisant les voies principales et vous trouverez un parking à proximité. Si vous préférez les transports en commun, plusieurs lignes de bus et de train desservent notre emplacement. De plus, si vous souhaitez profiter d'une agréable promenade, notre lieu est accessible à pied depuis divers points d'intérêt de la ville.</p>
					</div>
					<div class="col-md-5 mt-5">
							<img src="{{ asset('assets/img/hotelstreet.jpg')}}" alt="" style="height:745px;" class="hover-transparent">
					</div>
				</div>

			</div>

			<div class=" my-5 bg-light rounded p-5 hover-transparent">
				<h2 class="text-center mt-5 mb-4" style="color:#B8860B">Contactez l'hôtel</h2>
				<div class="mb-3">
					<label for="message" class="form-label">Message :</label>
					<textarea id="message" name="message" class="form-control" rows="5" style="resize:none;" required></textarea>
				</div>
				<div class="text-center mt-5">
					<a href="mailto:contact@votre-etablissement.com?subject=Contact depuis le site de l'hôtel&body=Bonjour," class="btn-css mb-5 ">Envoyer un e-mail</a>
				</div>
			</div>

		</div>
	</body>

</div></body>{% endblock %}
