{% extends "base.html.twig" %}

{% block title %}
	Notre Restaurant
{% endblock %}

{% block body %}
	<body class="bg-resto">
		<div class="container">
			<h1 class="text-center my-4 text-uppercase" style="color:#B8860B">Nos Cartes</h1>
			<div class="row">
				<div class="col-3 text-center">
					<div class="card border-dark mb-3 mt-5 bg-dark">
						<div class="card-header text-light">Nos Menus</div>
						<div class="card-body d-flex justify-content-between flex-column g-3 text-center ">
							<a href="#" onclick="toggleMenu(1)" class="card-link my-3 text-white  rounded btn-css">Carte Brasserie -
								<i class="bi bi-brightness-alt-high-fill"></i>
							</a>
							<a href="#" onclick="toggleMenu(2)" class="card-link my-3 text-white  rounded btn-css">Carte Dégustation -
								<i class="bi bi-sun"></i>
							</a>
							<a href="#" onclick="toggleMenu(3)" class="card-link my-3 text-white   rounded btn-css">Carte Restaurant -
								<i class="bi bi-moon"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-9 mx-auto text-white">
					<div class="border border-dark bg-dark rounded p-3 my-5">
						<div
							id="menu1" class="menu-content mt-5 text-center">
							<!-- Contenu du menu Brasserie -->
							<h3 class="my-5 rounded w-50 mx-auto" style="color:#B8860B">Carte Brasserie</h3>
							<div class="row">
								<div class="col">
									<h4 class=" rounded" style="color:#B8860B">Entrées</h4>
									<ul class="list-unstyled ">
										<li class="mt-3">
											Soupe à l'oignon
											<span class="text-end" style="color:#B8860B">10€</span>
										</li>
										<li class="mt-3">
											Salade César
											<span class="text-end" style="color:#B8860B">8€</span>
										</li>
										<li class="mt-3">
											Escargots de Bourgogne
											<span class="text-end" style="color:#B8860B">12€</span>
										</li>
										<li class="mt-3">
											Bruschetta
											<span class="text-end" style="color:#B8860B">9€</span>
										</li>
										<li class="mt-5">
											<img src="{{ asset('assets/img/entrebrasserie.jpg') }}" alt="">
										</li>
									</ul>
								</div>
								<div class="col">
									<h4 class="rounded" style="color:#B8860B">Plats principaux</h4>
									<ul class="list-unstyled ">
										<li class="mt-3">
											Steak-frites
											<span class="text-end" style="color:#B8860B">18€</span>
										</li>
										<li class="mt-3">
											Moules marinières
											<span class="text-end" style="color:#B8860B">15€</span>
										</li>
										<li class="mt-3">
											Confit de canard
											<span class="text-end" style="color:#B8860B">20€</span>
										</li>
										<li class="mt-3">
											Pâtes à la carbonara
											<span class="text-end" style="color:#B8860B">14€</span>
										</li>
										<li class="mt-3">
											Burger maison
											<span class="text-end" style="color:#B8860B">16€</span>
										</li>
										<li class="mt-3">
											Magret de canard
											<span class="text-end" style="color:#B8860B">22€</span>
										</li>
										<li class="mt-5">
											<img src="{{ asset('assets/img/platbrasserie.jpg') }}" alt="">
										</li>
									</ul>
								</div>
								<div class="col">
									<h4 class="rounded" style="color:#B8860B">Desserts</h4>
									<ul class="list-unstyled">
										<li class="mt-3">
											Panna cotta à la lavande
											<span class="text-end" style="color:#B8860B">10€</span>
										</li>
										<li class="mt-3">
											Tartelette au citron meringuée revisitée
											<span class="text-end" style="color:#B8860B">12€</span>
										</li>
										<li class="mt-3">
											Soufflé au Grand Marnier
											<span class="text-end" style="color:#B8860B">11€</span>
										</li>
										<li class="mt-3">
											Bavarois à la rose
											<span class="text-end" style="color:#B8860B">9€</span>
										</li>
										<li class="mt-3">
											Coupe glacée au thé matcha
											<span class="text-end" style="color:#B8860B">13€</span>
										</li>
										<li class="mt-5">
											<img src="{{ asset('assets/img/cakechocolate.jpg') }}" alt="">
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div
							id="menu2" class="menu-content mt-5 text-center" style="display: none;">
							<!-- Contenu du menu Dégustation -->
							<h3 style="color:#B8860B" class="my-5 rounded w-50 mx-auto">Carte Dégustation</h3>
							<div class="row">
								<div class="col">
									<h4 class="rounded" style="color:#B8860B">Entrées</h4>
									<ul class="list-unstyled ">
										<li class="mt-3">
											Assortiment de fromages
											<span class="text-end" style="color:#B8860B">14€</span>
										</li>
										<li class="mt-3">
											Carpaccio de saumon
											<span class="text-end" style="color:#B8860B">12€</span>
										</li>
										<li class="mt-3">
											Foie gras
											<span class="text-end" style="color:#B8860B">18€</span>
										</li>
										<li class="mt-3">
											Salade de crevettes
											<span class="text-end" style="color:#B8860B">16€</span>
										</li>
										<li class="mt-5">
											<img src="{{ asset('assets/img/cheese.jpg') }}" alt="">
										</li>
									</ul>
								</div>
								<div class="col">
									<h4 class="rounded" style="color:#B8860B">Plats principaux</h4>
									<ul class="list-unstyled">
										<li class="mt-3">
											Pavé de saumon
											<span class="text-end" style="color:#B8860B">22€</span>
										</li>
										<li class="mt-3">
											Risotto aux champignons
											<span class="text-end" style="color:#B8860B">18€</span>
										</li>
										<li class="mt-3">
											Filet mignon de porc
											<span class="text-end" style="color:#B8860B">20€</span>
										</li>
										<li class="mt-3">
											Côte de bœuf
											<span class="text-end" style="color:#B8860B">26€</span>
										</li>
										<li class="mt-3">
											Magret de canard aux figues
											<span class="text-end" style="color:#B8860B">24€</span>
										</li>
										<li class="mt-5">
											<img src="{{ asset('assets/img/salmon.jpg') }}" alt="">
										</li>
									</ul>
								</div>
								<div class="col">
									<h4 class="rounded" style="color:#B8860B">Desserts</h4>
									<ul class="list-unstyled">
										<li class="mt-3">
											Crème brûlée à la vanille
											<span class="text-end" style="color:#B8860B">8€</span>
										</li>
										<li class="mt-3">
											Tiramisu aux fruits rouges
											<span class="text-end" style="color:#B8860B">10€</span>
										</li>
										<li class="mt-3">
											Mousse au chocolat blanc
											<span class="text-end" style="color:#B8860B">9€</span>
										</li>
										<li class="mt-3">
											Tarte aux pommes caramélisées
											<span class="text-end" style="color:#B8860B">7€</span>
										</li>
										<li class="mt-3">
											Crumble aux fruits de saison
											<span class="text-end" style="color:#B8860B">11€</span>
										</li>
										<li class="mt-5">
											<img src="{{ asset('assets/img/cakeapple.jpg') }}" alt="">
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div
							id="menu3" class="menu-content mt-5 text-center" style="display: none;">
							<!-- Contenu du menu Restaurant -->
							<h3 class="my-5  rounded w-50 mx-auto" style="color:#B8860B">Carte Restaurant</h3>
							<div class="row">
								<div class="col">
									<h4 class="rounded" style="color:#B8860B">Entrées</h4>
									<ul class="list-unstyled ">
										<li class="mt-3">
											Foie gras
											<span class="text-end" style="color:#B8860B">18€</span>
										</li>
										<li class="mt-3">
											Escargots de Bourgogne
											<span class="text-end" style="color:#B8860B">16€</span>
										</li>
										<li class="mt-3">
											Assortiment de charcuterie
											<span class="text-end" style="color:#B8860B">14€</span>
										</li>
										<li class="mt-3">
											Salade de chèvre chaud
											<span class="text-end" style="color:#B8860B">12€</span>
										</li>
										<li class="mt-5">
											<img src="{{ asset('assets/img/foiegras.jpg') }}" alt="">
										</li>
									</ul>
								</div>
								<div class="col">
									<h4 class="rounded" style="color:#B8860B">Plats principaux</h4>
									<ul class="list-unstyled">
										<li class="mt-3">
											Côte de bœuf
											<span class="text-end" style="color:#B8860B">28€</span>
										</li>
										<li class="mt-3">
											Magret de canard aux figues
											<span class="text-end" style="color:#B8860B">26€</span>
										</li>
										<li class="mt-3">
											Filet mignon de porc
											<span class="text-end" style="color:#B8860B">24€</span>
										</li>
										<li class="mt-3">
											Risotto aux champignons
											<span class="text-end" style="color:#B8860B">22€</span>
										</li>
										<li class="mt-3">
											Pavé de saumon
											<span class="text-end" style="color:#B8860B">20€</span>
										</li>
										<li class="mt-3">
											Salade de crevettes
											<span class="text-end" style="color:#B8860B">18€</span>
										</li>
										<li class="mt-5">
											<img src="{{ asset('assets/img/shrimp.jpg') }}" alt="">
										</li>
									</ul>
								</div>
								<div class="col">
									<h4 class="rounded" style="color:#B8860B">Desserts</h4>
									<ul class="list-unstyled">
										<li class="mt-3">
											Profiteroles au chocolat
											<span class="text-end text-success">12€</span>
										</li>
										<li class="mt-3">
											Mille-feuille à la framboise
											<span class="text-end text-success">10€</span>
										</li>
										<li class="mt-3">
											Île flottante aux amandes
											<span class="text-end text-success">9€</span>
										</li>
										<li class="mt-3">
											Fondant au chocolat
											<span class="text-end text-success">8€</span>
										</li>
										<li class="mt-3">
											Crêpes Suzette
											<span class="text-end text-success">11€</span>
										</li>
										<li class="mt-5">
											<img src="{{ asset('assets/img/coulychocolate.jpg') }}" alt="">
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex justify-content-center gx-3 flex-column bg-dark w-25 text-center p-5 mx-auto rounded">
				<a href="{{ asset('assets/img/carteBrasserie.png') }}"  download class="text-white">Carte Brasserie <i class="bi bi-download"></i></a>
				<a href="{{ asset('assets/img/carteDegustation.png') }}"  download class="text-white my-3">Carte Dégustation <i class="bi bi-download"></i></a>
				<a href="{{ asset('assets/img/carteRestaurant.png') }}"  download class="text-white">Carte Restaurant <i class="bi bi-download"></i></a>
			</div>


		</div>

		<script>
			function toggleMenu(menuId) {
			for (let i = 1; i <= 3; i++) {
			const menuContent = document.getElementById("menu" + i);
			if (i === menuId) {
			menuContent.style.display = "block";
			} else {
			menuContent.style.display = "none";
			}
			}
			}
		</script>
	</body>
{% endblock %}
