{% extends "base.html.twig" %}

{% block title %}Nos différentes chambres
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5 text-uppercase" style="color:#B8860B">Nos chambres</h1>
	<div class="container">
		{% for room in rooms %}
			<a class="hover-transparent" href="{{ path('rent', {id : room.id}) }}">
				<div class="row my-5 rounded border-top border-bottom border-dark p-5">
					{% if room.titre == "Chambre Confort" %}
						<div class="col-6">
							<img src="{{ asset("assets/img/chambres/" ~ room.photo) }}" alt="" class="img-fluid" style="width:500px;height:300px">
						</div>
						<div class="col-6 d-flex flex-column align-items-center justify-content-center">
							<h1 style="color:#B8860B">{{ room.titre }}</h1>
							<p>{{ room.descriptionCourte|striptags }}</p>
						</div>
					{% else %}
						<div class="col-6 d-flex flex-column align-items-center justify-content-center">
							<h1 style="color:#B8860B">{{ room.titre }}</h1>
							<p>{{ room.descriptionCourte|striptags }}</p>
						</div>
						<div class="col-6">
							<img src="{{ asset("assets/img/chambres/" ~ room.photo) }}" alt="" class="img-fluid" style="width:500px;height:300px">
						</div>
					{% endif %}
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
