{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h2 class="text-center mt-1 mb-4 text-uppercase border-bottom py-2" style="color:#B8860B">Créer votre compte</h2>

	<div class="container">

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
		{{ form_row(registrationForm.pseudo) }}
		{{ form_row(registrationForm.civilite) }}
		{{ form_row(registrationForm.nom) }}
		{{ form_row(registrationForm.prenom) }}

		<div class="text-center mx-auto my-3">
			<button type="submit" class="btn-css">Inscription</button>
			{{ form_end(registrationForm) }}
		</div>

	</div>

{% endblock %}
