{% extends 'base.html.twig' %}

{% block title %}Avis
{% endblock %}

{% block body %}
	<body>
		<div class="container">
			<div class="row">
				<div
					class="col-9">
					<!-- Formulaire de sélection de catégorie -->
					<form action="{{ path('avis') }}" method="GET" class="mb-4">
						<p class="my-5 text-center h3" style="color:#B8860B">Nombre d'avis clients :
							{{ avis|length }}</p>
						<div class="form-group">
							<label for="categorie">Sélectionnez une catégorie :</label>
							<select name="categorie" id="categorie" class="form-control">
								<option value="">Toutes les catégories</option>
								{% for categorie in categories %}
									<option value="{{ categorie|join }}" {% if categorie == selectedCategory %} selected {% endif %}>{{ categorie|join }}</option>
								{% endfor %}
							</select>
						</div>
						<button type="submit" class="btn-css mt-3 w-100">Filtrer</button>
					</form>

					<!-- Affichage des avis filtrés -->

					{% for item in avis %}
						<div class="hover-transparent p-3 mt-3 rounded" style="border: 1px solid #B8860B">
							<h2>Par :<span style="color:#B8860B">
									{{ item.email }}</span>
							</h2>
							<h3 class="text-center my-3">Catégorie :
								<span style="color:#B8860B">{{ item.categorie }}</span>
							</h3>
							<p class="text-center mx-auto">Notation:
								<span>
									{% for i in range(1, 5) %}
										{% if i <= item.notation %}
											<span class="bi bi-star-fill text-warning"></span>
										{% else %}
											<span class="bi bi-star-fill text-secondary"></span>
										{% endif %}
									{% endfor %}
								</span>
							</p>
							<div class="border border-1 border-dark p-3">
								<p>De : {{ item.nom|upper}}
									{{ item.prenom}}</p>
								<p> <span class="text-decoration-underline">Commentaire :</span> <br>{{ item.commentaire }}</p>
							</div>
							<div>
								<p class="text-end fst-italic mt-3">{{ item.dateEnregistrement|date('d/m/Y à H:i:s') }}</p>
							</div>
						</div>
					{% endfor %}
				</div>

				<div class="col-3 mt-5">
					<button id="afficherFormulaire" class="btn-css">Cliquez ici pour laisser un commentaire</button>
					<div id="formulaire" style="display: none;">
						{{ form_start(form) }}
						{{ form_row(form.categorie) }}
						{{ form_row(form.email) }}
						{{ form_row(form.nom) }}
						{{ form_row(form.prenom) }}
						{{ form_row(form.notation) }}
						{{ form_row(form.commentaire) }}
						<button type="submit" class="btn btn-warning">Envoyer Avis</button>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>

		<script>
			document.getElementById("afficherFormulaire").addEventListener("click", function () {
			const formulaire = document.getElementById("formulaire");
			if (formulaire.style.display === "none") {
			formulaire.style.display = "block";
			} else {
			formulaire.style.display = "none";
			}
			});
		</script>
	</body>
{% endblock %}
