<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('assets/img/de6.png')}}">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">
		<script src="{{ asset('assets/js/main.js') }}" defer></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-dark px-3">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('home') }}" class="logo" style="font-size: 48px;font-family: 'Lora', serif;color:#B8860B">HouseHôtel
					<i class="bi bi-dice-6-fill"></i>
				</a>
				<button class="navbar-toggler bg-light text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path('home') }}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path('rooms') }}">Chambres</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path('restaurant') }}">Restaurant</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path('spa') }}">Spa</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path('hotel')}}">l'Hôtel</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path('avis') }}">Avis</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path('actualites')}}">Actualités</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path('contact') }}">Contact</a>
						</li>
						{% if is_granted("ROLE_ADMIN") %}
							<li class="nav-item">
								<a class="nav-link text-light" href="{{ path('admin') }}">Admin</a>
							</li>
						{% endif %}
					</ul>

					{% if app.user %}
						<ul class="navbar-nav ms-auto mx-1">
							<li class="nav-item">
								<a class="btn btn-danger" href="{{ path('app_logout') }}">Deconnexion</a>
							</li>
						</ul>
					{% endif %}
					<div class="flags ms-auto">
						<img src="{{ asset('assets/img/france.png')}}" class="language" alt="fr">
						<img src="{{ asset('assets/img/united-kingdom.png')}}" class="language" alt="en">
					</div>
				</ul>
			</div>
		</div>
	</body>
</html></nav>{% for message in app.flashes('success') %}
<div class="alert alert-success text-center w-50 mx-auto my-2">{{ message }}</div>{% endfor %}{% for message in app.flashes('danger') %}
<div class="alert alert-danger text-center w-50 mx-auto my-2">{{ message }}</div>{% endfor %}{% block body %}{% endblock %}<footer class="text-center text-lg-start border border-white mt-xl-5 pt-4 text-white bg-dark" style="background-color: #4169E1">
<div class="container p-4">
	<div class="row">
		<a class="navbar-brand text-end mb-4" href="{{ path('home') }}" class="logo" style="font-size: 48px;font-family: 'Lora', serif;color:#B8860B">HouseHôtel
			<i class="bi bi-dice-6-fill"></i>
		</a>
		<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
			<h5 class="text-uppercase mb-4" style="color:#B8860B">NOUS</h5>

			<ul class="list-unstyled mb-4">
				<li>
					<a href="{{ path('hotel')}}" class="text-white" >l'Hôtel</a>
				</li>
				<li>
					<a href="{{ path('rooms') }}" class="text-white">Chambres</a>
				</li>
				<li>
					<a href="{{ path('restaurant') }}" class="text-white">Restaurant</a>
				</li>
				<li>
					<a href="{{ path('spa')}}" class="text-white">Spa</a>
				</li>
			</ul>
		</div>

		<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
			<h5 class="text-uppercase mb-4" style="color:#B8860B">Assistance</h5>

			<ul class="list-unstyled">
				<li>
					<a href="{{ path('contact') }}" class="text-white">Nous contacter</a>
				</li>
				<li>
					<a class="text-white" href="{{ path('avis') }}">Avis</a>
				</li>
				<li>
					<a class="text-light" href="{{ path('plan')}}">Plan du site</a>
				</li>
			</ul>
		</div>

		<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
			<h5 class="text-uppercase mb-4" style="color:#B8860B">Autres</h5>

			<ul class="list-unstyled">
				<li>
					<a class="text-white" href="{{ path('ml') }}">Mentions Légales</a>
				</li>
				<li>
					<a class="text-white" href="{{ path('cgdv') }}">CGDV</a>
				</li>
				
				<li>
					<a class="text-white" href="#" id="logo-impression">
						<i class="bi bi-printer-fill text-white"></i>
					</a>
				</li>
			
				<li></li>
				<li>
					<a class="text-white" href="{{ path('actualites')}}">Actualités</a>

				</li>
				<a class="text-white" href="" id="lien-partage">Partage</a>
			</li>
			<li>
				<a class="text-white" href="">
					<i class="bi bi-facebook"></i>
					<i class="bi bi-instagram mx-1"></i>
					<i class="bi bi-twitter"></i>
				</a>
			</li>
		</ul>
	</div>

	<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
		<h5 class="text-uppercase mb-4" style="color:#B8860B">Inscris-toi à notre Newsletter</h5>

		<form action="{{ path('newsletter')}}" method="post">
			<div class="form-outline form-dark mb-4">
				<input type="email" id="form5Example2" class="form-control" name="email"/>
				<label class="form-label " for="form5Example2">Adresse email:</label>

				<button type="submit" class="btn-css mt-3">Abonnement</button>
			</div>
		</form>


	</div>
</div></div><div class="text-center  bg-dark border-top border-dark text-white">
© 2023 Copyright:
<small style="color:#B8860B">HOTELHOUSE <i class="bi bi-dice-6-fill"></i></small></div></footer><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script></body></html>
